{
	plugins:   ["@babel/plugin-proposal-class-properties"]
	, presets: [
		['@babel/preset-env', {
			"exclude": ['@babel/plugin-transform-new-target']
		}]
	]
	, "env": {
		"prod": {}
		, "prod-min": {
			presets: [
				['minify', {
					"builtIns": false
				}]
			]
		}
	}
}
